<h2>All books</h2>

<div id='books'>
  <div class='book'>
    <h3>Programming Ruby</h3>
    <p><strong>By: </strong> David Heinemeier Hansson</p>
  </div>
  <div class='book'>
    <h3>Practical OOP design in Ruby</h3>
    <p><strong>By: </strong> Sandy Metz</p>
  </div>
</div>
